certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
discogs-client==2.3.0
idna==3.6
oauthlib==3.2.2
prompt-toolkit==3.0.43
Pygments==2.17.2
requests==2.31.0
six==1.16.0
urllib3==2.1.0
wcwidth==0.2.13
